/*AppBtn component styling*/
@import './quasar.variables'

.appbtn
  margin: 1rem
  width: 275px

.appbtn__btn
  width: 200px
  height: 200px

.appbtn__btn-svg
  width: 50%
  height: 50%

.appbtn__text
  font-size: 1.15rem
  font-weight: 300
  text-align: center